@font-face {
	font-family: 'Kurye';
	src: url('../fonts/Kurye-Light.ttf');
	src: url('../fonts/Kurye-Light.ttf') format('truetype'), 
		 url('../fonts/Kurye-Light.otf') format('otf'), 
		 url('../fonts/Kurye-LightItalic.otf') format('otf');
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/GothamLight.ttf');
	src: url('../fonts/GothamLight.ttf') format('truetype'), 
		 url('../fonts/GothamBook.ttf') format('truetype'),
		 url('../fonts/GothamMedium.ttf') format('truetype'),
		 url('../fonts/Gotham-Light.otf') format('otf'), 
		 url('../fonts/Gotham-Black.otf') format('otf'),
		 url('../fonts/Gotham-Thin.otf') format('otf');
}

@font-face {
	font-family: 'GothamBold';
	src: url('../fonts/GothamBold.ttf');
	src: url('../fonts/GothamBold.ttf') format('truetype'), 
		 url('../fonts/Gotham-Bold.otf') format('otf'), 
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', arial, sans-serif;
}

body {
	overflow-x: hidden;
}

ul {
	list-style: none;
	margin: 0px;
}

p {
	color: #7a7a7a;
	font-size: 14px;
	line-height: 24px;
}

.parallax-content {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}

.container h2 {
	font-family: Kurye,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #F5F5F5;
}

.primary-orange-button a {
	display: inline-block;
	background-color: #FF6B00;
	font-size: 13px;
	padding: 12px 18px;
	color: #F5F5F5;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 5px;
	box-shadow: 5px 5px 5px RGBA(0,0,0,0.5);
}

#home .primary-orange-button {
	margin: 30px 25% 0 10%;
}

.primary-blue-button a {
	display: inline-block;
	background-color: #33c1cf;
	font-size: 13px;
	padding: 12px 18px;
	color: #fff;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 20px;
}

.pop-button h4 {
	display: inline-block;
	background-color: #33c1cf;
	font-size: 13px!important;
	padding: 12px 18px;
	color: #fff;
	font-weight: 400!important;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 20px;
	cursor: pointer;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: 80px;
    background-color:transparent;  
    
    text-align: center;
    line-height: 40px;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    text-shadow: none;
}

.navbar-brand {
	line-height: 80px;
	padding: 0px;
}

.navbar-nav>li>a {
	color: #fff!important;
	font-size: 13px;
	font-weight: 300;
	text-transform: uppercase;
	text-shadow: none;
	line-height: 80px;
	padding: 0px;
	letter-spacing: 0.5px;
}

.navbar-nav>li {
	margin-left: 45px;
}

.header.active .navbar-nav>li>a:active {
	border-bottom: 2px solid salmon;
}

.header.active {
    background-color: rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.navbar-brand {
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	text-transform: uppercase;
	color: #fff!important;
	transition: all 0.5s;
	 
}
.navbar-brand em {
	font-style: normal;
	color: #f7c552;
	font-size: 32px;
}
.header.active .navbar-brand {
	color: #FF6B00!important;
}
.header .navbar-brand {
    font-weight: 800;
}
.navbar-inverse {
	background-image: none;
	background-color: transparent;
}
.header .navbar {
    margin: 0;
    border: none;
	border-radius: 0px;
	border-bottom: 1px solid white;
}

.scroll-top img {
	width: 10vw;
	margin-top: 26px;
}
.page-section {
    padding: 80px 0;
}
.navbar-inverse .navbar-toggle {
	margin-top: 22px;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	/* background-color: #f7c552; */
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 15px!important;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
@media (min-width: 768px) {
    .header .navbar-brand {
        padding-left: 0;
    }
    .navbar-nav {
        float: right;
    }
}
@media (max-width: 480px) {
    .page-section h1 {
        font-size: 3em;
    }
    .page-section h2 {
        font-size: 2em;
    }
    .page-section p {
        font-size: 1em;
        margin: 0 0 20px;
    }
}

.parallax-content {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}

.baner-content {
	width: 100%;
  	padding-top: 20vh;
  	text-align: center;
  	background-image: url(../img/banner_bg.jpg);
  	vertical-align: middle;
}

.baner-content .main-banner-text-content {
	text-align: left;
}

.baner-content .main-banner-text-content h2 {
	font-size: 36px;
	font-weight: 400;
	color: #fff;
}

.baner-content .main-banner-text-content h2 span {
	font-weight: 700;
	color: #33c1cf!important;
}

.baner-content .main-banner-text-content h2 em {
	font-style: normal;
	font-weight: 700;
	color: #f89624!important;
}

.baner-content .main-banner-text-content p {
	color: #F5F5F5;
	font-size: 16px;
	line-height: 24px;
	padding: 0;
	margin: 50px 25% 0 10%;
}

.main-banner-logo {
	width: 45vw;
	margin-left: 10vw;
}

.main-banner-logo h2 {
	display: none;
}

.primary-boxes {
	display: block;
	margin: 100px 0 0 0;
}

.primary-boxes img {
	width: 80%;
}

#about {
	padding: 200px 0px 150px;
	background-image: url(../img/about-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: -140px;
	/* background-attachment: fixed; */
}

#about .service-item {
	text-align: center;
}

#about .service-item .icon {
	width: 110px;
	height: 110px;
	display: inline-block;
	text-align: center;
	line-height: 104px;
	border: 3px solid #fff;
	border-radius: 50%;
	background-color: #f7c552;
}

#about .service-item h4 {
	margin-bottom: 30px;
	margin-top: 45px;
	font-size: 17px;
	font-weight: 500;
	color: #F5F5F5;
	letter-spacing: 1px;
}

#about .service-item .line-dec {
	width: 100%;
	height: 1px;
	background-color: rgba(250, 250, 250, 0.5);
}

#about .service-item p {
	color: #F5F5F5;
	margin-top: 30px;
}

#about .service-item .primary-blue-button {
	margin-top: 35px;
}

.about-copy {
	padding: 50px 30%;
	align-self: center;
}

.about-copy p, .ig-content p {
	font-family: Gotham, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 16px;
	color: #F5F5F5;
}

.projects-holder .mix {
  display: none;
}

.projects-holder {
	padding: 30px 15px 0px 15px;
}

.filter-categories {
  margin-top: 60px;
}

.filter-categories ul li {
  margin: 0px 10px 15px 0px;
  display: block;
}

.filter-categories ul li span {
  cursor: pointer;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 500;
  left: 0.5px;
}

.filter-categories ul li.active span {
  color: #f7c552;
}

.servicios-content {
	padding: 150px 0px;
	background-image: url(../img/portfolio-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;	
}

.servicios-content h2 {
	margin-bottom: 100px;
}

.card-body h3 {
	width: 50%;
}

.card-title {
	font-family: GothamBold, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 24px;
	color: #F5F5F5;
}

.card-text {
	font-family: Gotham, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 14px;
	color: #F5F5F5;
}

.swiffy-slider-margin {
	margin: 0 0 0 10vw;
}

.slider-container li {
	padding: 12%;
}

.slider-container-width {
	width: 80vw;
}

#servicios .slider-container li:nth-child(1) {
	background-color: #FF6B00;
	background-image: url(../img/slider01.png);
	background-attachment: local;
    background-position: 213px -26px;
    background-repeat: no-repeat;
    background-size: 130px;
}

#servicios .slider-container li:nth-child(2) {
	background-color: #186DFF;
	background-image: url(../img/slider02.png);
	background-attachment: local;
    background-position: 200px -26px;
    background-repeat: no-repeat;
    background-size: 155px;
}

#servicios .slider-container li:nth-child(3) {
	background-color: #F5F5F5;
	background-image: url(../img/slider03.png);
	background-attachment: local;
    background-position: 200px -26px;
    background-repeat: no-repeat;
    background-size: 155px;
}
#servicios .slider-container li:nth-child(3) p, .slider-container li:nth-child(3) h3 {
	color: #000;
}


#servicios .slider-container li:nth-child(4) {
	background-color: #186DFF;
	background-image: url(../img/slider04.png);
	background-attachment: local;
    background-position: 190px -18px;
    background-repeat: no-repeat;
    background-size: 157px;
}

#portfolio {
	margin-top: 15vh;
}

#portoflio .page-section {
	padding: 0px;
}

#portfolio .section-heading {
	padding-top: 200px;
	padding-bottom: 200px;
	background-color: #33c1cf;
	height: 732px;
	margin-left: -100vh;
	padding-left: 100vh;
}

#portfolio .project-item {
	margin: 0px -16px;
}

#portfolio .section-heading h4 {
	margin-top: 0px;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	letter-spacing: 1px;
}

#portfolio .section-heading .line-dec {
	width: 270px;
	height: 1px;
	background-color: rgba(250, 250, 250, 0.5);
	margin: 20px 0px 15px 0px;
}

#portfolio .section-heading p {
	color: #fff;
	padding-right: 70px;
}

.portfolio-content {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}

.portfolio-content .column {
	flex: 65%;
	max-width: 65%;
	padding: 0;
}
 
.portfolio-content .columnB {
	flex: 35%;
	max-width: 35%;
	padding: 0;
}

.portfolio-card {
	margin: 30px;
	background-color: #000;
	text-align: center;
}

.portfolio-card.divBgDb {
	background-color: #fff;
}

.portfolio-card.divBgMD {
	background-color: #003D7E;
}

.portfolio-card img {
	width: 30%;
	margin-top: 50px;
	margin-bottom: 20px;
}

.columnB img {
	width: 70%;
	margin: 40% 0 28%;
}

.portfolio-img-desc {
	width: 100%;
	height: 70px;
	background-color: #33c1cf;
	font-family: GothamBold, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #fff;
	display: block;
    align-items: center;
    text-align: right;
    padding: 29px 25px;
}

.portfolio-img-desc.bgCM {
	background-image: url(../img/social-bg.jpg);
}

.portfolio-img-desc.bgDG {
	background-color: #186DFF;
}

.portfolio-img-desc.bgDW {
	background-color: #F5F5F5;
	color: #000;
}

.portfolio-img-desc.bgGA {
	background-color: #186DFF;
}

.portfolio-img-desc.bgMD {
	background-color: #FF6B00;
}

@media (max-width: 800px) {
	.portfolio-content .column, .portfolio-content .columnB {
	  flex: 100%;
	  max-width: 100%;
	}
	.columnB img, .column img {
		width: 40%;
		margin: 10% 0;
	}
  }
  

.ig-content {
	background-image: url(../img/social-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;	
}

.ig-content .ig-content-display{
	display: flex;
	align-items: center;
}

.ig-content .ig-content-padding{
	padding: 100px 0px;
}

.ig-content h2 {
	line-height: 20px;
}

.ig-content p {
	margin: 30px 0;
	width: 60%;
	line-height: 20px;
}

@media (max-width: 800px) {
	.ig-content .ig-content-display {
		display: contents;
	}
	.ig-content-display img {
		width: 60%;
		margin-top: -200px;
		align-self:flex-end;
	}
	.ig-content-img-xs-align {
		text-align: end;
	}
}

.testimonial-content {
	padding: 150px 0px;
	background-image: url(../img/testimonial-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;	
}

.testimonial-content h2 {
	float: left;
	margin-bottom: 50px;
}

#testimonial .swiffy-slider {
	margin: 0 0 0 25vw;
}

#testimonial .slider-container li {
	padding: 5%;
}

#testimonial {
	background-color: #f7c552;
	text-align: center;
	padding: 100px 0px;
}

#testimonial .testimonials-item h4 {
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	letter-spacing: 0.5px;
	margin-top: 30px;
	margin-bottom: 5px;
}

#testimonial .testimonials-item span {
	font-size: 13px;
	color: #fff;
	letter-spacing: 0.5px;
}

#testimonial .testimonials-item p {
	font-size: 16px;
	color: #9a9a9a;
	font-style: italic;
	font-weight: 300;
	background-color: #fff;
	padding: 30px;
	border-radius: 5px;	
}

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

footer {
	margin-top: -6px;
	background-color: #000000;
	padding: 50px 0px;
}

#contact-us {
	padding: 0px;
}

#contact-us h3{
	font-family: GothamBold, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 16px;
	color: #FF6B00;
}

#contact-us p{
	font-family: Gotham, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 12px;
	color: #F5F5F5;
}

.footer-container {
	padding: 2%;
}

#contact-us input, #contact-us textarea {
	background-color: transparent;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid #f5f5f5;
	font-family: 'Kurye', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #f5f5f5;
	padding: 0;
}

#contact-us textarea {
	height: 28px;
	margin-top: 20px;
}

#contact-us input::placeholder, #contact-us input:-ms-input-placeholder, #contact-us input::-ms-input-placeholder {
	color: #f5f5f5;
}

#contact-us input:focus, #contact-us:focus-visible
#contact-us textarea:focus, #contact-us textarea:focus-visible {
	outline: none !important;
	-webkit-box-shadow: none !important;
    box-shadow: none !important;
}

#contact-us button {
	background-color: transparent;
	border: 2px solid #FF6B00;
	font-family: 'GothamBold', 'Kurye', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 15px;
    color: #f5f5f5;
    width: 150px;
    padding: 14px 0 4px 0;
    line-height: 26px;
}

/* RESPONSIVE */

@media (max-width: 991px){

	.baner-content .text-content p {
		padding: 0px 15%;
	}


	#about .service-item {
		margin-bottom: 80px;
	} 

	#portfolio .section-heading {
		text-align: center;
		padding-top: 100px;
		padding-bottom: 100px;
		background-color: #33c1cf;
		height: 505px;
		margin-left: -15px;
		padding-left: 0vh;
		margin-right: -15px;
		padding-right: 0vh;
		overflow: hidden;
	}

	#portfolio .section-heading .line-dec {
		margin: 20px auto 15px auto;
	}

	#portfolio .section-heading p {
		padding: 0px 20px;
	}

	.projects-holder {
		text-align: center;
		padding: 15px 0px;
	}

	#portfolio .project-item {
		margin: 15px 0px;
	}

	#blog .section-heading {
		text-align: center;
		padding-top: 100px;
		padding-bottom: 100px;
		background-color: rgba(0, 0, 0, 0.5);
		margin-left: -15px;
		padding-left: 0vh;
		margin-right: -15px;
		padding-right: 0vh;
		overflow: hidden!important;
	}

	#blog .section-heading .line-dec {
		margin: 20px auto 15px auto;
	}

	#blog .section-heading p {
		padding: 0px 30px;
	}

	.tabs {
		padding: 0px 45px;
	}

	#first-tab-group {
		margin-bottom: 30px;
	}

	#contact-us .section-heading p {
		padding: 0px 10%;
	}

	footer {
		text-align: center;
	}

	footer .logo {
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid rgba(250, 250, 250, 0.1);
	}

	footer .location {
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid rgba(250, 250, 250, 0.1);
	}

	footer .contact-info {
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid rgba(250, 250, 250, 0.1);
	}

	footer .contact-info ul li {
		margin-right: 10px;
		margin-left: 10px;
	}

}

@media (max-width: 768px){
	.baner-content .text-content p {
		padding: 0px 10%;
	}
	#main-nav {
		margin-left: -15px;
		margin-right: -15px;
		border-top: none;
		margin-top: 15px;
		background-color: rgba(250, 250, 250, 0.95);
	}

	.navbar-nav {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.navbar-inverse .navbar-nav>li {
		margin-left: 0px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}

	.navbar-inverse .navbar-nav>li:last-child {
		border-bottom: none;
	}


	.navbar-inverse .navbar-nav>li>a {
		font-family: 'Roboto', sans-serif!important;
		line-height: 55px;
		color: #343434!important;
	}

}

@media (max-width: 385px){

	footer .location ul li {
		display: block;
	}

	footer .location ul li:first-child {
		margin-right: 0px;
		padding-right: 0px;
		border-right: none;
	}

}